<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd/MM/yyyy - HH:mm:ss} %5p [%t] %c > %m%n"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="${env:LOG_PATH}/{{project_name}}/{{project_name}}-back.log"
                     filePattern="${env:LOG_PATH}/{{project_name}}/$${date:yyyy-MM}/{{project_name}}-back-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="10 MB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>

        <!-- LOG "{{project_namespace}}.{{project_name}}" at TRACE level -->
        <Logger name="{{project_namespace}}.{{project_name}}" level="trace"/>
    </Loggers>
</Configuration>
